.features__intro {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.features__fraze {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  color: @text-col;
  padding: 0;
  margin: 0;
}

.features__first {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 50px;
}

.features__first-text {
  color: @back-col;
  background-color: @back-text;
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-bottom: 44px;
  min-width: 320px;
}

.features__first-img {
  position: relative;
  overflow: hidden;
}

.features__second {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.features__second-text {
  color: @back-col;
  text-align: center;
  background-color: @back-text;
  padding-bottom: 37px;
  width: 320px;
}

.features__second-img {
  position: relative;
  overflow: hidden;
}

.features__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  &--grey {
    background-color: @back-gr;
    padding-top: 0;
    padding-bottom: 20px;
  }
}

.features__item {
  position: relative;
  text-align: center;
  width: 33.33%;

  &--grey {
    background-color: @back-gr;
    padding-top: 0;
    padding-bottom: 20px;
  }
}

@media (min-width: @tablet-w) {
  .features__first {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100%;
  }

  .features__first-text {
    min-width: 256px;
  }

  .features__second {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .features__second-text {
    min-width: 256px;
  }

  .features__list {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: @desktop-w) {
  .features__first-text {
    min-width: 400px;
  }

  .features__second-text {
    min-width: 400px;
  }
}
/*
.features-item h3 {
	font-size: 21px;
	line-height: 21px;
	padding: 0;
	padding-top: 0px;
	margin: 0;
	margin-top: 21px;
	margin-bottom: 20px;
}

.features-item p {
	color: #333333;
	margin-top: 24px;
	margin-right: 50px;
	margin-bottom: 83px;
	margin-left: 50px;
}
*/
