.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 35px;

  &--photo {
    margin-top: 29px;
  }
}

.footer__contacts {
  font-size: 21px;
  line-height: 26px;
  color: @foot-cont;
  text-align: center;
  margin-bottom: 37px;
}

.footer__social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 151px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 42px;
}

.footer__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 49px;
  background-color: @back-text;
}

.footer__button:focus,
.footer__button:hover {
  background-color: @foot-foc;
}

.footer__button:active {
  background-color: @foot-act;
}

.footer__button:active path {
  fill: @back-text;
}

.footer__htmlacademy-wrap {
  display: flex;
  flex-direction: row;
}

.footer__htmlacademy {
  padding: 0;
  margin: 0;
  margin-right: 7px;
  margin-bottom: 4px;
}

.footer__htmlacademy-btn {
  margin-top: -3px;
  margin-left: 4px;
}

@media (min-width: @tablet-w) {
  .footer {
    display: flex;
    flex-direction: row;
    margin-top: 29px;

    &--photo {
      margin-top: 69px;
    }
  }

  .footer__contacts {
    margin-left: 60px;
  }

  .footer__social {
    margin-left: 112px;
    margin-top: 7px;
  }

  .footer__htmlacademy-wrap {
    margin-right: 60px;
    margin-top: -26px;
  }
}

@media (min-width: @desktop-w) {
  .footer {
    margin-top: 28px;

    &--photo {
      margin-top: 112px;
    }
  }

  .footer__contacts {
    margin-left: 120px;
  }

  .footer__social {
    margin-left: 268px;
    margin-top: 8px;
  }

  .footer__htmlacademy-wrap {
    margin-right: 120px;
  }

  .footer__htmlacademy {
    margin-top: 2px;
  }
}
