.form {
  display: flex;
  flex-direction: column;
}

.form__block {
  border: none;
  padding: 0;
}

.form__frame {
  border-top: 1px solid @form-bord;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 280px;
}

.form__head {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.form__text {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: @text-col;
}

.form__wrap {
  display: flex;
  width: 100%;
  align-items: flex-end;
  flex-wrap: wrap;
  text-align: center;

  &--contacts {
    position: relative;
  }
}

.form__enter {
  border: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @foot-cont;
  background-color: @form-ent;
  padding: 0;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 15px;
  box-sizing: border-box;

  &--second {
    width: 192px;
  }

  &--phone {
    /*content: url("../img/icon-phone.svg");
    position: absolute;
    z-index: 1;*/ //Вопрос: Почему, когда я делал иконку через псевдоэлемент after, она вообще не появлялась в браузере?
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: right;
  }

  &--mail {
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: right;
  }
}

.form__opinion-text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @foot-cont;
}

.form__btn-wrap {
  margin: 0 auto;
}

.form__btn {
  font-size: 21px;
  line-height: 26px;
  color: @back-col;
  text-transform: uppercase;
  font-weight: 700;
  width: 280px;
  border: none;
  background-color: @back-text;
  padding: 0;
  margin: 0;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
}

.form__emotion-text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: @form-ent;
  border: none;
  width: 280px;
}

@media (min-width: @tablet-w) {
  .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__frame {
    min-width: 324px;
    border: none;
    padding: 0;
    margin: 0;
  }

  .form__enter {
    &--phone {
      width: 648px;
    }

    &--mail {
      width: 648px;
    }
  }

  .form__attractions-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 648px;
  }

  .form__wrap--attractions {
    display: inline-block;
    max-width: 324px;
  }

  .form__frame--tablet {
    order: -1;
  }

  .form__block--tablet {
    min-width: 648px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__wrap {
    &--opinion {
      margin-bottom: 64px;
    }
  }

  .form__emotion-text {
    min-width: 648px;
  }
}

@media (min-width: @desktop-w) {
  .form {
    min-width: 1200px;
    margin-left: 120px;
    margin-right: 120px;
  }

  .form__frame {
    min-width: 480px;
  }

  .form__enter {
    &--phone {
      width: 320px;
    }

    &--mail {
      width: 320px;
    }
  }

  .form__attractions-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 960px;
  }

  .form__wrap {
    &--attractions {
      width: 255px;
    }

    &--contacts {
      width: 420px;
    }
  }

  .form__emotion-text {
    min-width: 960px;
  }
}
