.gallery {
  background-color: @back-col;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
}

.gallery__head {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.gallery__description {
  text-align: center;
}

.gallery__photo {
  border-top: 1px solid @form-bord;
  border-bottom: 1px solid @form-bord;
}

/*.gallery__item {
  используется позже
}*/

.gallery__text {
  font-weight: 700;
}

.gallery__author {
  margin-left: 40px;
  color: @text-col;
}

/*.gallery__like {
  используется позже
}*/

.gallery__number {
  border: none;
}

/*.gallery__video {
  используется позже
}*/

@media (min-width: @tablet-w){
  .gallery {
    display: flex;
    flex-direction: row;
  }
  .gallery__wrap {
    min-width: 648px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .gallery__photo {
    border: none;
    min-width: 328px;
  }
  .gallery__photo--tablet {
    min-width: 648px;
  }
}

@media (min-width: @desktop-w){
  .gallery {
    display: flex;
    flex-direction: row;
  }
  .gallery__wrap {
    min-width: 1200px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .gallery__photo {
    border: none;
    min-width: 400px;
  }
  .gallery__photo--tablet {
    min-width: 1200px;
  }
}
