.popup {
  display: none;
  margin-left: 20px;
  margin-right: 20px;
  text-transform: uppercase;
}

.popup__head {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.popup__text {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.popup__fail-btn {
  font-size: 21px;
  line-height: 26px;
  color: @back-col;
  text-transform: uppercase;
  font-weight: 700;
  width: 280px;
  border: none;
  background-color: @back-text;
  padding: 0;
  margin: 0;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
}

.popup__ok-btn {
  font-size: 21px;
  line-height: 26px;
  color: @back-col;
  text-transform: uppercase;
  font-weight: 700;
  width: 280px;
  border: none;
  background-color: @back-text;
  padding: 0;
  margin: 0;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
}
