.popup {
  position: relative;
  text-transform: uppercase;
}

.popup__fail {
  position: absolute;
  top: -758px;
  left: 0;
  width: 320px;
  height: 280px;
  box-shadow: 0 0 10px 0;
  background-color: @back-col;
}

.popup__succes {
  position: absolute;
  top: -758px;
  left: 0;
  width: 320px;
  height: 280px;
  box-shadow: 0 0 10px 0;
  background-color: @back-col;
}

.popup__fail--close {
  display: none;
}

.popup__succes--close {
  display: none;
}

.popup__head {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.popup__text {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  margin-left: 54px;
  margin-right: 54px;
}

.popup__fail-btn {
  font-size: 21px;
  line-height: 26px;
  color: @back-col;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  background-color: @back-text;
  padding: 0;
  margin: 0;
  margin-left: 70px;
  width: 180px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.popup__ok-btn {
  font-size: 21px;
  line-height: 26px;
  color: @back-col;
  text-transform: uppercase;
  font-weight: 700;
  width: 280px;
  border: none;
  background-color: @back-text;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
}

@media (min-width: @tablet-w) {
  .popup__head {
    font-size: 30px;
    line-height: 40px;
    margin-top: 40px;
    margin-right: 75px;
    margin-bottom: 37px;
    margin-left: 75px;
  }

  .popup__text {
    margin-left: 61px;
    margin-right: 61px;
    margin-bottom: 40px;

    &--ok {
      margin-left: 115px;
      margin-right: 115px;
    }
  }

  .popup__fail {
    top: -515px;
    left: 210px;
    width: 400px;
    height: 350px;
  }

  .popup__succes {
    top: -515px;
    left: 64px;
    width: 648px;
    height: 347px;
  }

  .popup__btn-wrap {
    height: 146px;
    background-color: @form-ent;
  }

  .popup__ok-btn {
    margin-left: 95px;
    margin-right: 95px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 450px;
  }

  .popup__fail-btn {
    width: 270px;
    padding-top: 17px;
    padding-bottom: 19px;
    margin-left: 61px;
  }
}

@media (min-width: @desktop-w) {
  .popup__fail {
    top: -434px;
    left: 371px;
  }

  .popup__succes {
    left: 275px;
  }
}
