.recall {
  font-size: 14px;
  line-height: 26px;
  color: @text-col;
}

.recall__head {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
  margin-top: 38px;
}

.recall__intro {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin-right: 20px;
  margin-bottom: 18px;
  margin-left: 20px;
}

@media (min-width: @tablet-w) {
  .recall {
    margin-right: 60px;
    margin-left: 60px;
  }

  .recall__head {
    font-size: 30px;
    line-height: 26px;
    margin-top: 74px;
  }

  .recall__intro {
    margin-top: 31px;
    margin-right: 105px;
    margin-left: 105px;
    margin-bottom: 73px;
  }
}

@media (min-width: @desktop-w) {
  .recall {
    margin-right: 120px;
    margin-left: 120px;
  }

  .recall__head {
    margin-top: 114px;
  }

  .recall__intro {
    margin-left: 254px;
    margin-right: 260px;
    margin-bottom: 57px;
  }
}
