.recall {
  font-size: 14px;
  line-height: 26px;
  color: @text-col;
}

.recall__head {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
}

.recall__intro {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin-right: 20px;
  margin-bottom: 24px;
  margin-left: 20px;
}

@media (min-width: @tablet-w) {
  .recall {
    margin-right: 60px;
    margin-left: 60px;
  }
}

@media (min-width: @desktop-w) {
  .recall {
    margin-right: 120px;
    margin-left: 120px;
  }
}
