@back-col: #ffffff;
@shadow: #dbdbdb;
@text-col: #333333;
@back-text: #81b3d2;
@back-gr: #eeeeee;
@foot-foc: #669ec0;
@foot-act: #5496bd;
@foot-cont: #000000;
@form-bord: #e5e5e5;
@form-ent: #f2f2f2;
@time-end: rgba(249, 250, 248, 0.9);
@site-foc: #a3c7de;
@site-act: #cacaca;
@body-col: #f2f2f2;
@menu-line: rgba(103, 143, 168);
@features-line: #d6d6d6;
@tablet-w: 768px;
@desktop-w: 1200px;
